<div class="container">
  <div class="row">
    <div #containerMindmap></div>
  </div>
  <div class="row mb-2">
    <button id="btnAdd" class="btn btn-primary me-2 col" (click)="addNode()">
      Add
    </button>
    <button id="btnEdit" class="btn btn-primary me-2 col" (click)="editNode()">
      Edit
    </button>
    <button
      id="btnDelete"
      class="btn btn-primary me-2 col"
      (click)="deleteNode()"
    >
      Delete
    </button>
    <button id="btnJson" class="btn btn-primary col" (click)="getJsonData()">
      GetJson
    </button>
  </div>
  <div class="row" *ngIf="isShown" id="divshow">
    <input
      [(ngModel)]="nodeName"
      name="nodeName"
      type="text"
      id="txtEdit"
      class="form-control me-2 col"
    />
    <button id="btnSave" class="btn btn-primary col" (click)="onEditSave()">
      Save
    </button>
  </div>
</div>
