<div>
  <div class="row mb-2">
    <button id="btnAdd" class="btn btn-primary me-2 col" (click)="addNode()">
      Add
    </button>
    <button
      id="btnDelete"
      class="btn btn-primary me-2 col"
      (click)="deleteNode()"
    >
      Delete
    </button>
    <button id="btnJson" class="btn btn-primary col" (click)="getJsonData()">
      GetJson
    </button>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Theme
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">default</a></li>
      <li><a class="dropdown-item" href="#">primary</a></li>
      <li><a class="dropdown-item" href="#">warning</a></li>
      <li><a class="dropdown-item" href="#">danger</a></li>
      <li><a class="dropdown-item" href="#">success</a></li>
      <li><a class="dropdown-item" href="#">info</a></li>
      <li><a class="dropdown-item" href="#">greensea</a></li>
      <li><a class="dropdown-item" href="#">nephrite</a></li>
      <li><a class="dropdown-item" href="#">belizehole</a></li>
      <li><a class="dropdown-item" href="#">wisteria</a></li>
      <li><a class="dropdown-item" href="#">asphalt</a></li>
      <li><a class="dropdown-item" href="#">orange</a></li>
      <li><a class="dropdown-item" href="#">pumpkin</a></li>
      <li><a class="dropdown-item" href="#">pomegranate</a></li>
      <li><a class="dropdown-item" href="#">clouds</a></li>
      <li><a class="dropdown-item" href="#">asbestos</a></li>
    </ul>
  </div>
  <div id="jsmind_container"></div>
</div>
