<div>
  <h5>Pie Chart with dynamic data</h5>
  <div class="row">
    <div class="col-5">
      <div>
        <label class="form-label" for="datalabel">Label : </label>
        <input
          class="form-control"
          type="text"
          id="dataLabel"
          [(ngModel)]="newLabel"
        />
      </div>
      <div class="mb-2">
        <label class="form-label" for="dataValue">Value : </label>
        <input
          class="form-control"
          type="number"
          id="dataValue"
          [(ngModel)]="newValue"
        />
      </div>
      <button (click)="addData()" class="btn btn-primary">Add data</button>
    </div>
    <div class="col-7">
      <table class="table table-stripped">
        <thead>
          <tr>
            <td>Label</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data">
            <td [innerHtml]="d.label"></td>
            <td [innerHtml]="d.value"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div style="width: 400px; height: 400px">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>
